input {
  background-color: white;
  color: #1a1c1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: solid rgba(29, 0, 91, 0.17) 1px;
  width: 15rem;
  height: 1rem;
  margin-top: 1rems;
}
fields {
  font-weight: 400px;
  margin-bottom: 5px;
}
.Form {
  background-color: #f3f3ff;
  opacity: 1;
  background-size: 29px 29px;
  color: #1a1c1e;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #1a1c1e 1px;
  margin-top: auto;
  padding: 2% 2%;
  width: 17rem;
  border: 2px rgba(29, 0, 91, 0.17) solid;
  border-radius: 18px;
  /*background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(255, 255, 255, 0.3); */
  position: absolute;
}

form {
  row-gap: 2vh;
}
#loginForm .btn-primary {
  width: 80%;
}
.bloptop {
  margin-top: -70rem;
}
