.langage{
    width: calc(80%/4.4);
    font-weight: 800;
    height: 45px;
    padding: 2em;
    background: rgba(115, 115, 115, 0.123);
    border-radius: 0.3em;
    cursor: pointer;
    transition: all 0.2s;
    color: rgba(0, 0, 0, 0.692);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
}
.langage{
    transform: scale(0.95);
}
.containerQuizzListe {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap:1em;

}

h1{
    width: 100%;
    color: #00000098;
    font-size: 30px !important;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}