@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

.inputcontainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  width: auto;
  height: auto;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
}

.input {
  height: 100%;
  width: calc(100% - 30px);
  background-color: transparent;
  border: 2px rgba(29, 0, 91, 0.17) solid;
  border-radius: 8px;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.form {
  padding: 30px 40px;
  border: 3px solid #b9b0ce;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  background-color: #ffffff;
  z-index: 1;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.inputContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  width: auto;
  height: auto;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.input {
  height: 100%;
  width: calc(100% - 30px);
  background-color: transparent;
  border: 2px rgba(29, 0, 91, 0.17) solid;
  border-radius: 8px;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  color: rgba(0, 0, 0, 0.9);
}

#description {
  height: 100px;
}

.svgleft {
  position: absolute;
  left: 0;
}

.svgtop {
  position: absolute;
  top: 0;
}

.svgright {
  position: absolute;
  right: 0;
}

fieldset {
  width: 100%;
  height: 20%;
  border: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

fieldset legend {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
}

.checkboxcontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  width: 20%;
}

.button {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn {
  position: relative;
}

.btn button {
  background-color: #824bed;
}

.confirm {
  width: 100%;
  height: 50px;
  border-radius: 16px;
  background-color: #824bed;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
