.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerform {
  z-index: 1;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 18px;
  border: solid 3px rgba(29, 0, 91, 0.17);
  padding: 30px 40px;
  gap: 30px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.title h2 {
  color: #141414;
  font-size: 20px;
}
